post-til-virksomhet/wsdl/CorrespondenceAgencyExternal_12.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.altinn.no/services/ServiceEngine/Correspondence/2009/10" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.altinn.no/services/ServiceEngine/Correspondence/2009/10">
  <xs:import schemaLocation="CorrespondenceAgencyExternal_13.xsd" namespace="http://schemas.altinn.no/services/ServiceEngine/Notification/2009/10"/>
  <xs:import schemaLocation="CorrespondenceAgencyExternal_14.xsd" namespace="http://www.altinn.no/services/ServiceEngine/ReporteeElementList/2009/10"/>
  <xs:complexType name="InsertCorrespondence">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary>
            Represents a request object for the operation, InsertCorrespondence, that can create a correspondence in Altinn.
            Instances of this class can hold the complete set of information about a correspondence. 
            &lt;/summary></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ServiceCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the primary id for the correspondence service.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ServiceEdition" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the second id for the correspondence service. 
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Reportee" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the recipient / reportee of the correspondence. 
            &lt;/summary>
            &lt;remarks>
            Social Security number or Organization number.
            &lt;/remarks></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ExternalContent">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the correspondence content. Contains information about the Correspondence body, subject etc.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="VisibleDateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets when the correspondence should become visible to the recipient.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="AllowSystemDeleteDateTime" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the date for when Altinn can remove the correspondence from its database.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DueDateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets a date and time for when the recipient must reply.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ArchiveReference" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets an archive reference. Agencies can use this field to tell the recipient that the correspondence in a reply
            to a FormTask submission.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ReplyOptions" nillable="true" type="tns:CorrespondenceInsertLinkBEList">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets options for how the recipient can reply.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Notifications" nillable="true" type="q1:NotificationBEList" xmlns:q1="http://schemas.altinn.no/services/ServiceEngine/Notification/2009/10">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets notification information. Notifications are used to inform the recipient that there is a new correspondence.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertCorrespondence" nillable="true" type="tns:InsertCorrespondence"/>
  <xs:complexType name="ExternalContent">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary>
            Represents details about a correspondence. 
            &lt;/summary></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="LanguageCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the language code for the correspondence.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MessageTitle" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the title of the correspondence.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MessageSummary" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets a short correspondence summary.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MessageBody" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the main body of the correspondence.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Attachments" nillable="true" type="tns:Attachments">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets a container object for attachments related to a correspondence.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CustomMessageData" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets additional data for specific services. This is used primarily for tax return related correspondence. The
            content is an xml document. The portal must have special handling of the content each year.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExternalContent" nillable="true" type="tns:ExternalContent"/>
  <xs:complexType name="Attachments">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary>
            Represents a container object for attachments.
            &lt;/summary></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="BinaryAttachments" nillable="true" type="q2:BinaryAttachmentBEList" xmlns:q2="http://www.altinn.no/services/ServiceEngine/ReporteeElementList/2009/10">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets a strongly typed list of BinaryAttachment elements that can be accessed by index.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="XmlAttachment" nillable="true" type="q3:XmlAttachment" xmlns:q3="http://www.altinn.no/services/ServiceEngine/ReporteeElementList/2009/10">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets an xml attachment.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Attachments" nillable="true" type="tns:Attachments"/>
  <xs:complexType name="CorrespondenceInsertLinkBEList">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary>
            Represents a strongly typed list of ReplyOption elements that can be accessed by index.
            &lt;/summary></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReplyOption" nillable="true" type="tns:ReplyOption"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CorrespondenceInsertLinkBEList" nillable="true" type="tns:CorrespondenceInsertLinkBEList"/>
  <xs:complexType name="ReplyOption">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary>
            Represents a ReplyOption with information provided by a service owner. A reply option is a way for recipients to respond to
            a correspondence.
            &lt;/summary></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Service" nillable="true" type="tns:InsertCorrespondenceLinkServiceCode">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets service details. Respond to a correspondence by filling out a form.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ArchiveReference" nillable="true" type="tns:InsertCorrespondenceLinkArchiveRef">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets an associated archive reference.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="URL" nillable="true" type="tns:InsertCorrespondenceLinkServiceURL">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets link information. Respond by following a link.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReplyOption" nillable="true" type="tns:ReplyOption"/>
  <xs:complexType name="InsertCorrespondenceLinkServiceCode">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary>
            Represents a reply option of the type service.
            &lt;/summary></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ServiceCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the primary service id of the service to be used as a response.
            &lt;/summary>
            &lt;remarks>
            To uniquely identify a service you also need the service edition code.
            &lt;/remarks></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ServiceEdition" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the secondary service id of the service to be used as a response.
            &lt;/summary>
            &lt;remarks>
            To uniquely identify a service you also need the service code.
            &lt;/remarks></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertCorrespondenceLinkServiceCode" nillable="true" type="tns:InsertCorrespondenceLinkServiceCode"/>
  <xs:complexType name="InsertCorrespondenceLinkArchiveRef">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary>
            Represents a reply option of the type archive reference. 
            &lt;/summary></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ArchiveRef" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets an archive reference. 
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertCorrespondenceLinkArchiveRef" nillable="true" type="tns:InsertCorrespondenceLinkArchiveRef"/>
  <xs:complexType name="InsertCorrespondenceLinkServiceURL">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary>
            Represents a reply option of the type URL.
            &lt;/summary></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="LinkText" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the url text.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="LinkURL" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the URL to be used as a reply/response to a correspondence. 
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertCorrespondenceLinkServiceURL" nillable="true" type="tns:InsertCorrespondenceLinkServiceURL"/>
</xs:schema>