post-til-virksomhet/wsdl/CorrespondenceAgencyExternal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CorrespondenceAgencyExternalSF" targetNamespace="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsp:Policy wsu:Id="CustomBinding_ICorrespondenceAgencyExternal_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpToken/>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict/>
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp/>
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10/>
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy/>
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens/>
            <sp:RequireClientEntropy/>
            <sp:RequireServerEntropy/>
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing/>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/Imports">
      <xsd:import schemaLocation="CorrespondenceAgencyExternal.xsd" namespace="http://www.altinn.no/services/2009/10"/>
      <xsd:import schemaLocation="CorrespondenceAgencyExternal_1.xsd" namespace="http://www.altinn.no/services/common/fault/2009/10"/>
      <xsd:import schemaLocation="CorrespondenceAgencyExternal_2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="CorrespondenceAgencyExternal_3.xsd" namespace="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10"/>
      <xsd:import schemaLocation="CorrespondenceAgencyExternal_4.xsd" namespace="http://schemas.altinn.no/services/ServiceEngine/Correspondence/2013/06"/>
      <xsd:import schemaLocation="CorrespondenceAgencyExternal_5.xsd" namespace="http://schemas.altinn.no/services/ServiceEngine/Correspondence/2013/11"/>
      <xsd:import schemaLocation="CorrespondenceAgencyExternal_6.xsd" namespace="http://schemas.altinn.no/services/serviceEntity/2013/11"/>
      <xsd:import schemaLocation="CorrespondenceAgencyExternal_7.xsd" namespace="http://schemas.altinn.no/serviceengine/formsengine/2009/10"/>
      <xsd:import schemaLocation="CorrespondenceAgencyExternal_8.xsd" namespace="http://schemas.altinn.no/services/ServiceEngine/Correspondence/2014/10"/>
      <xsd:import schemaLocation="CorrespondenceAgencyExternal_9.xsd" namespace="http://schemas.altinn.no/services/serviceEntity/2014/10"/>
      <xsd:import schemaLocation="CorrespondenceAgencyExternal_10.xsd" namespace="http://schemas.altinn.no/services/ServiceEngine/Correspondence/2016/02"/>
      <xsd:import schemaLocation="CorrespondenceAgencyExternal_11.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xsd:import schemaLocation="CorrespondenceAgencyExternal_12.xsd" namespace="http://schemas.altinn.no/services/ServiceEngine/Correspondence/2009/10"/>
      <xsd:import schemaLocation="CorrespondenceAgencyExternal_14.xsd" namespace="http://www.altinn.no/services/ServiceEngine/ReporteeElementList/2009/10"/>
      <xsd:import schemaLocation="CorrespondenceAgencyExternal_15.xsd" namespace="http://schemas.altinn.no/services/ServiceEngine/Subscription/2009/10"/>
      <xsd:import schemaLocation="CorrespondenceAgencyExternal_13.xsd" namespace="http://schemas.altinn.no/services/ServiceEngine/Notification/2009/10"/>
      <xsd:import schemaLocation="CorrespondenceAgencyExternal_16.xsd" namespace="http://schemas.altinn.no/services/Intermediary/Receipt/2009/10"/>
      <xsd:import schemaLocation="CorrespondenceAgencyExternal_17.xsd" namespace="http://schemas.altinn.no/services/Intermediary/Shipment/2009/10"/>
      <xsd:import schemaLocation="CorrespondenceAgencyExternal_18.xsd" namespace="http://schemas.altinn.no/services/ServiceEngine/Correspondence/2010/10"/>
      <xsd:import schemaLocation="CorrespondenceAgencyExternal_19.xsd" namespace="http://www.altinn.no/services/ServiceEngine/ReporteeElementList/2010/10"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICorrespondenceAgencyExternal_Test_InputMessage">
    <wsdl:part name="parameters" element="q1:Test" xmlns:q1="http://www.altinn.no/services/2009/10"/>
  </wsdl:message>
  <wsdl:message name="ICorrespondenceAgencyExternal_Test_OutputMessage">
    <wsdl:part name="parameters" element="q2:TestResponse" xmlns:q2="http://www.altinn.no/services/2009/10"/>
  </wsdl:message>
  <wsdl:message name="ICorrespondenceAgencyExternal_Test_AltinnFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q3:AltinnFault" xmlns:q3="http://www.altinn.no/services/common/fault/2009/10"/>
  </wsdl:message>
  <wsdl:message name="ICorrespondenceAgencyExternal_CreateSimpleCorrespondenceService_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSimpleCorrespondenceService"/>
  </wsdl:message>
  <wsdl:message name="ICorrespondenceAgencyExternal_CreateSimpleCorrespondenceService_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSimpleCorrespondenceServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="ICorrespondenceAgencyExternal_CreateSimpleCorrespondenceService_AltinnFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q4:AltinnFault" xmlns:q4="http://www.altinn.no/services/common/fault/2009/10"/>
  </wsdl:message>
  <wsdl:message name="ICorrespondenceAgencyExternal_GetCorrespondenceStatusDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCorrespondenceStatusDetails"/>
  </wsdl:message>
  <wsdl:message name="ICorrespondenceAgencyExternal_GetCorrespondenceStatusDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCorrespondenceStatusDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="ICorrespondenceAgencyExternal_GetCorrespondenceStatusDetails_AltinnFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q5:AltinnFault" xmlns:q5="http://www.altinn.no/services/common/fault/2009/10"/>
  </wsdl:message>
  <wsdl:message name="ICorrespondenceAgencyExternal_GetCorrespondenceStatusDetailsV2_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCorrespondenceStatusDetailsV2"/>
  </wsdl:message>
  <wsdl:message name="ICorrespondenceAgencyExternal_GetCorrespondenceStatusDetailsV2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCorrespondenceStatusDetailsV2Response"/>
  </wsdl:message>
  <wsdl:message name="ICorrespondenceAgencyExternal_GetCorrespondenceStatusDetailsV2_AltinnFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q6:AltinnFault" xmlns:q6="http://www.altinn.no/services/common/fault/2009/10"/>
  </wsdl:message>
  <wsdl:message name="ICorrespondenceAgencyExternal_GetCorrespondenceStatusDetailsV3_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCorrespondenceStatusDetailsV3"/>
  </wsdl:message>
  <wsdl:message name="ICorrespondenceAgencyExternal_GetCorrespondenceStatusDetailsV3_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCorrespondenceStatusDetailsV3Response"/>
  </wsdl:message>
  <wsdl:message name="ICorrespondenceAgencyExternal_GetCorrespondenceStatusDetailsV3_AltinnFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q7:AltinnFault" xmlns:q7="http://www.altinn.no/services/common/fault/2009/10"/>
  </wsdl:message>
  <wsdl:message name="CorrespondenceStatusHistoryRequestExternalBE">
    <wsdl:part name="parameters" element="tns:CorrespondenceStatusHistoryRequest"/>
  </wsdl:message>
  <wsdl:message name="CorrespondenceStatusHistoryResultExternalBE">
    <wsdl:part name="parameters" element="tns:CorrespondenceStatusHistoryResult"/>
  </wsdl:message>
  <wsdl:message name="ICorrespondenceAgencyExternal_GetCorrespondenceStatusHistory_AltinnFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q8:AltinnFault" xmlns:q8="http://www.altinn.no/services/common/fault/2009/10"/>
  </wsdl:message>
  <wsdl:message name="ICorrespondenceAgencyExternal_InsertCorrespondence_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCorrespondence"/>
  </wsdl:message>
  <wsdl:message name="ICorrespondenceAgencyExternal_InsertCorrespondence_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCorrespondenceResponse"/>
  </wsdl:message>
  <wsdl:message name="ICorrespondenceAgencyExternal_InsertCorrespondence_AltinnFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q9:AltinnFault" xmlns:q9="http://www.altinn.no/services/common/fault/2009/10"/>
  </wsdl:message>
  <wsdl:message name="ICorrespondenceAgencyExternal_InsertCorrespondenceV2_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCorrespondenceV2"/>
  </wsdl:message>
  <wsdl:message name="ICorrespondenceAgencyExternal_InsertCorrespondenceV2_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCorrespondenceV2Response"/>
  </wsdl:message>
  <wsdl:message name="ICorrespondenceAgencyExternal_InsertCorrespondenceV2_AltinnFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q10:AltinnFault" xmlns:q10="http://www.altinn.no/services/common/fault/2009/10"/>
  </wsdl:message>
  <wsdl:portType name="ICorrespondenceAgencyExternal">
    <wsdl:documentation>&lt;summary>
            External interface for exposing service operations for correspondence for AgencySystem on WS binding.
            &lt;/summary></wsdl:documentation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://www.altinn.no/services/2009/10/IAltinnContractBase/Test" message="tns:ICorrespondenceAgencyExternal_Test_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.altinn.no/services/2009/10/IAltinnContractBase/TestResponse" message="tns:ICorrespondenceAgencyExternal_Test_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://www.altinn.no/services/2009/10/IAltinnContractBase/TestAltinnFaultFault" name="AltinnFaultFault" message="tns:ICorrespondenceAgencyExternal_Test_AltinnFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="CreateSimpleCorrespondenceService">
      <wsdl:documentation><![CDATA[<summary>
            This operation will instantiate a fully working Correspondence Service based on a very simple, generic template created
            by Altinn Central Administration (ASF). Contact ASF to learn the codes that are available and what limitations there are compared
            to a fully customized service defined in TUL.
            </summary>
            <param name="templateServiceCode">
            The service code identifying a service template. Mandatory.
            </param>
            <param name="templateServiceEditionCode">
            The service edition code of the service template. Mandatory.
            </param>
            <returns>
            An object with the service details that can be used to use the service.
            </returns>]]></wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/CreateSimpleCorrespondenceService" message="tns:ICorrespondenceAgencyExternal_CreateSimpleCorrespondenceService_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/CreateSimpleCorrespondenceServiceResponse" message="tns:ICorrespondenceAgencyExternal_CreateSimpleCorrespondenceService_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/CreateSimpleCorrespondenceServiceAltinnFaultFault" name="AltinnFaultFault" message="tns:ICorrespondenceAgencyExternal_CreateSimpleCorrespondenceService_AltinnFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetCorrespondenceStatusDetails">
      <wsdl:documentation><![CDATA[<summary>
            This operation will retrieve a list of Correspondence elements with a few details related to the status of the 
            Correspondence. Agencies can for example use this service to see if their correspondence is read or confirmed
            by the recipient(reportee).
            </summary>
            <param name="filterCriteria">
            Filter options for search for correspondence.
            </param>
            <returns>
            A list of correspondence details that matched the filter options."/&gt;
            </returns>]]></wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/GetCorrespondenceStatusDetails" message="tns:ICorrespondenceAgencyExternal_GetCorrespondenceStatusDetails_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/GetCorrespondenceStatusDetailsResponse" message="tns:ICorrespondenceAgencyExternal_GetCorrespondenceStatusDetails_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/GetCorrespondenceStatusDetailsAltinnFaultFault" name="AltinnFaultFault" message="tns:ICorrespondenceAgencyExternal_GetCorrespondenceStatusDetails_AltinnFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetCorrespondenceStatusDetailsV2">
      <wsdl:documentation><![CDATA[<summary>
            GetCorrespondenceStatusDetailsV2 is the V2 version operation for GetCorrespondenceStatusDetails. This operation is versioned 
            to include a new correspondence status filter which allow agencies to filter and get the reserved status correspondences.
            This operation will retrieve a list of Correspondence elements with a few details related to the status of the 
            Correspondence. Agencies can for example use this service to see if their correspondence is read, confirmed or reserved
            by the recipient(reportee).
            </summary>
            <param name="filterCriteria">
            Filter options for search for correspondence.
            </param>
            <returns>
            A list of correspondence details that matched the filter options.
            </returns>]]></wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/GetCorrespondenceStatusDetailsV2" message="tns:ICorrespondenceAgencyExternal_GetCorrespondenceStatusDetailsV2_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/GetCorrespondenceStatusDetailsV2Response" message="tns:ICorrespondenceAgencyExternal_GetCorrespondenceStatusDetailsV2_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/GetCorrespondenceStatusDetailsV2AltinnFaultFault" name="AltinnFaultFault" message="tns:ICorrespondenceAgencyExternal_GetCorrespondenceStatusDetailsV2_AltinnFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetCorrespondenceStatusDetailsV3">
      <wsdl:documentation><![CDATA[<summary>
            GetCorrespondenceStatusDetailsV3 is the 3rd version ofGetCorrespondenceStatusDetails. This operation is versioned 
            to include status information about secure digital post
            </summary>
            <param name="filterCriteria">Filter options for search for correspondence.</param>
            <returns>A list of correspondence details that matched the filter options.</returns>]]></wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/GetCorrespondenceStatusDetailsV3" message="tns:ICorrespondenceAgencyExternal_GetCorrespondenceStatusDetailsV3_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/GetCorrespondenceStatusDetailsV3Response" message="tns:ICorrespondenceAgencyExternal_GetCorrespondenceStatusDetailsV3_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/GetCorrespondenceStatusDetailsV3AltinnFaultFault" name="AltinnFaultFault" message="tns:ICorrespondenceAgencyExternal_GetCorrespondenceStatusDetailsV3_AltinnFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetCorrespondenceStatusHistory">
      <wsdl:documentation><![CDATA[<summary>
            Retrieves correspondence status history for a set of senders references. The information retrieved is the same as for GetCorrespondenceStatusDetails, 
            but is based only in senders references in order to allow service owners access to common correspondence services.
            </summary>
            <param name="referenceRequest">
            contains senders references for the Correspondences to retrieve status for.
            </param>
            <returns>
            A list of correspondence details that matched the senders references.
            </returns>]]></wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/GetCorrespondenceStatusHistory" name="CorrespondenceStatusHistoryRequestExternalBE" message="tns:CorrespondenceStatusHistoryRequestExternalBE"/>
      <wsdl:output wsaw:Action="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/GetCorrespondenceStatusHistoryResponse" name="CorrespondenceStatusHistoryResultExternalBE" message="tns:CorrespondenceStatusHistoryResultExternalBE"/>
      <wsdl:fault wsaw:Action="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/GetCorrespondenceStatusHistoryAltinnFaultFault" name="AltinnFaultFault" message="tns:ICorrespondenceAgencyExternal_GetCorrespondenceStatusHistory_AltinnFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="InsertCorrespondence">
      <wsdl:documentation><![CDATA[<summary>
            This operation is used to send a correspondence to a user.
            </summary>
            <param name="SystemUserCode">
            System user code is the unique representation of the agency system - mandatory parameter
            </param>
            <param name="ExternalReference">
            An external reference to the batch request - mandatory parameter
            </param>
            <param name="Correspondence">
            InsertCorrespondenceBE entity with information about the correspondence - mandatory parameter
            </param>
            <returns>
            A ReceiptExternalBE entity with reference information for the correspondence
            </returns>]]></wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/InsertCorrespondence" message="tns:ICorrespondenceAgencyExternal_InsertCorrespondence_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/InsertCorrespondenceResponse" message="tns:ICorrespondenceAgencyExternal_InsertCorrespondence_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/InsertCorrespondenceAltinnFaultFault" name="AltinnFaultFault" message="tns:ICorrespondenceAgencyExternal_InsertCorrespondence_AltinnFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="InsertCorrespondenceV2">
      <wsdl:documentation><![CDATA[<summary>
            This operation is used to send a correspondence to a user.
            </summary>
            <remarks>
            This operation is versioned as V2 as it contain some additional information. Preferred over InsertCorrespondence.
            Optional additional information include CaseId used if the correspondence(s) shall be a part of a collaboration service
            and AllowForwarding in order to specify whether the correspondence(s) has the ability to be forwarded as email or not by
            the end user in SBL. Note that when not submitting the AllowForwarding element it is default that the correspondence(s) can be forwarded.
            </remarks>
            <param name="SystemUserCode">
            System user code is the unique representation of the agency system - mandatory parameter
            </param>
            <param name="ExternalShipmentReference">
            An external reference to the batch request - mandatory parameter
            </param>
            <param name="Correspondence">
            InsertCorrespondenceBEV2 entity with information about the correspondence - mandatory parameter
            </param>
            <returns>
            A ReceiptExternalBE entity with reference information for the correspondence
            </returns>]]></wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/InsertCorrespondenceV2" message="tns:ICorrespondenceAgencyExternal_InsertCorrespondenceV2_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/InsertCorrespondenceV2Response" message="tns:ICorrespondenceAgencyExternal_InsertCorrespondenceV2_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/InsertCorrespondenceV2AltinnFaultFault" name="AltinnFaultFault" message="tns:ICorrespondenceAgencyExternal_InsertCorrespondenceV2_AltinnFaultFault_FaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_ICorrespondenceAgencyExternal" type="tns:ICorrespondenceAgencyExternal">
    <wsp:PolicyReference URI="#CustomBinding_ICorrespondenceAgencyExternal_policy"/>
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://www.altinn.no/services/2009/10/IAltinnContractBase/Test" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AltinnFaultFault">
        <soap12:fault name="AltinnFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateSimpleCorrespondenceService">
      <soap12:operation soapAction="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/CreateSimpleCorrespondenceService" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AltinnFaultFault">
        <soap12:fault name="AltinnFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCorrespondenceStatusDetails">
      <soap12:operation soapAction="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/GetCorrespondenceStatusDetails" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AltinnFaultFault">
        <soap12:fault name="AltinnFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCorrespondenceStatusDetailsV2">
      <soap12:operation soapAction="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/GetCorrespondenceStatusDetailsV2" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AltinnFaultFault">
        <soap12:fault name="AltinnFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCorrespondenceStatusDetailsV3">
      <soap12:operation soapAction="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/GetCorrespondenceStatusDetailsV3" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AltinnFaultFault">
        <soap12:fault name="AltinnFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCorrespondenceStatusHistory">
      <soap12:operation soapAction="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/GetCorrespondenceStatusHistory" style="document"/>
      <wsdl:input name="CorrespondenceStatusHistoryRequestExternalBE">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CorrespondenceStatusHistoryResultExternalBE">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AltinnFaultFault">
        <soap12:fault name="AltinnFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertCorrespondence">
      <soap12:operation soapAction="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/InsertCorrespondence" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AltinnFaultFault">
        <soap12:fault name="AltinnFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertCorrespondenceV2">
      <soap12:operation soapAction="http://www.altinn.no/services/ServiceEngine/Correspondence/2009/10/ICorrespondenceAgencyExternal/InsertCorrespondenceV2" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AltinnFaultFault">
        <soap12:fault name="AltinnFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CorrespondenceAgencyExternalSF">
    <wsdl:port name="CustomBinding_ICorrespondenceAgencyExternal" binding="tns:CustomBinding_ICorrespondenceAgencyExternal">
      <soap12:address location="https://www.altinn.no/ServiceEngineExternal/CorrespondenceAgencyExternal.svc"/>
      <wsa10:EndpointReference>
        <wsa10:Address>https://www.altinn.no/ServiceEngineExternal/CorrespondenceAgencyExternal.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>