post-til-virksomhet/wsdl/CorrespondenceAgencyExternal_16.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.altinn.no/services/Intermediary/Receipt/2009/10" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.altinn.no/services/Intermediary/Receipt/2009/10">
  <xs:import schemaLocation="CorrespondenceAgencyExternal_17.xsd" namespace="http://schemas.altinn.no/services/Intermediary/Shipment/2009/10"/>
  <xs:complexType name="ReceiptExternal">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary>
            Represents a the data in a receipt that is generated by Altinn when it has received data from an external source. A receipt
            contains details about the data received and its steps through Altinn.
            &lt;/summary></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="LastChanged" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the date and time for when the receipt was last changed.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ParentReceiptId" type="xs:int">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the id of the parent receipt if the current receipt is a child receipt.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ReceiptHistory" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the receipt history. The content of ReceiptText is added to ReceiptHistory at every update.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ReceiptId" type="xs:int">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the unique id of the receipt.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ReceiptStatusCode" type="tns:ReceiptStatusEnum">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets a value that indicates the status of the action that the receipt belong. For example if a submission
            has been "Rejected".
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ReceiptText" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the receipt text with a short description of the last step done to the element.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ReceiptTypeName" type="tns:ReceiptTypeEnum">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets a value indicating what type of receipt.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="References" nillable="true" type="tns:ReferenceList">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets a list of references.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SubReceipts" nillable="true" type="tns:ReceiptExternalList">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets a list of child receipts.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptExternal" nillable="true" type="tns:ReceiptExternal"/>
  <xs:simpleType name="ReceiptStatusEnum">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary>
            Specifies different statuses on a receipt. The status is a response to the action the caller tried to perform.
            &lt;/summary></xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet">
        <xs:annotation>
          <xs:documentation>&lt;summary>
            Specifies that the receipt status is unknown.
            &lt;/summary>
            &lt;remarks>
            This type should not be used. It is an error condition if status is of this type.
            &lt;/remarks></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OK">
        <xs:annotation>
          <xs:documentation>&lt;summary>
            Specifies that the request was processed without any error.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UnExpectedError">
        <xs:annotation>
          <xs:documentation>&lt;summary>
            Specifies that there was an unexpected error during processing of a request.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ValidationFailed">
        <xs:annotation>
          <xs:documentation>&lt;summary>
             Specifies that the data in a request failed validation.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Rejected">
        <xs:annotation>
          <xs:documentation>&lt;summary>
             Specifies that the request was rejected. Usually because of known error conditions.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReceiptStatusEnum" nillable="true" type="tns:ReceiptStatusEnum"/>
  <xs:simpleType name="ReceiptTypeEnum">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary>
            Defines receipt types.
            &lt;/summary></xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet">
        <xs:annotation>
          <xs:documentation>&lt;summary>
            SHOULD NOT BE USED (For Enumeration error handling).
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FormTask">
        <xs:annotation>
          <xs:documentation>&lt;summary>
            Specifies that the receipt is for a form task.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Correspondence">
        <xs:annotation>
          <xs:documentation>&lt;summary>
            Specifies that the receipt is for correspondence.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PINCODE">
        <xs:annotation>
          <xs:documentation>&lt;summary>
            Specifies that the receipt is for pin code.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Subscription">
        <xs:annotation>
          <xs:documentation>&lt;summary>
            Specifies that the receipt is for a subscription shipment.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Outbound">
        <xs:annotation>
          <xs:documentation>&lt;summary>
            Specifies that the receipt is for an outbound shipment.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PreFill">
        <xs:annotation>
          <xs:documentation>&lt;summary>
            Specifies that the receipt is for a prefill shipment.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RegisterDLS">
        <xs:annotation>
          <xs:documentation>&lt;summary>
            Specifies that the receipt is for a register DLS shipment.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RegisterDSF">
        <xs:annotation>
          <xs:documentation>&lt;summary>
            Specifies that the receipt is for a register DSF shipment.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RegisterER">
        <xs:annotation>
          <xs:documentation>&lt;summary>
            Specifies that the receipt is for a register ER shipment.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RegisterDSFProperty">
        <xs:annotation>
          <xs:documentation>&lt;summary>
            Specifies that the receipt is for a register DFS property shipment.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RegisterDSFStreet">
        <xs:annotation>
          <xs:documentation>&lt;summary>
            Specifies that the receipt is for a register DFS street shipment.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RegisterDSFCountry">
        <xs:annotation>
          <xs:documentation>&lt;summary>
            Specifies that the receipt is for a register DSF country shipment.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RegisterDSFUser">
        <xs:annotation>
          <xs:documentation>&lt;summary>
            Specifies that the receipt is for a register DSF user shipment.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LookUp">
        <xs:annotation>
          <xs:documentation>&lt;summary>
            Specifies that the receipt is for a lookup shipment.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RegisterDSFStreetAdd">
        <xs:annotation>
          <xs:documentation>&lt;summary>
            Specifies that the receipt is for a register DSF street address batch.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RegisterDSFPropertyAdd">
        <xs:annotation>
          <xs:documentation>&lt;summary>
            Specifies that the receipt is for a register DSF property address batch.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReceiptTypeEnum" nillable="true" type="tns:ReceiptTypeEnum"/>
  <xs:complexType name="ReferenceList">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary>
            Represents a strongly typed collection of Reference elements.
            &lt;/summary></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reference" nillable="true" type="tns:Reference"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReferenceList" nillable="true" type="tns:ReferenceList"/>
  <xs:complexType name="Reference">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary>
            Represents a key-value pair that is associated with a receipt.
            &lt;/summary></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ReferenceTypeName" type="q1:ReferenceType" xmlns:q1="http://schemas.altinn.no/services/Intermediary/Shipment/2009/10">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the reference type.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ReferenceValue" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the reference value.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reference" nillable="true" type="tns:Reference"/>
  <xs:complexType name="ReceiptExternalList">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary>
            Represents a strongly typed list of ReceiptExternalBE elements that can be accessed by index.
            &lt;/summary></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReceiptExternal" nillable="true" type="tns:ReceiptExternal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptExternalList" nillable="true" type="tns:ReceiptExternalList"/>
</xs:schema>