post-til-virksomhet/wsdl/CorrespondenceAgencyExternal_8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.altinn.no/services/ServiceEngine/Correspondence/2014/10" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.altinn.no/services/ServiceEngine/Correspondence/2014/10">
  <xs:import schemaLocation="CorrespondenceAgencyExternal_9.xsd" namespace="http://schemas.altinn.no/services/serviceEntity/2014/10"/>
  <xs:import schemaLocation="CorrespondenceAgencyExternal_5.xsd" namespace="http://schemas.altinn.no/services/ServiceEngine/Correspondence/2013/11"/>
  <xs:complexType name="CorrespondenceStatusFilterV2">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary>
            Represents the request object used as input to the GetCorrespondenceStatusDetailsV2 operation in the CorrespondenceAgency service.
            It has fields for different filter options presented by the operation.
            &lt;/summary></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedAfterDate" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets a value used to filter correspondence based on the creation date of the correspondence.
            Includes correspondence newer than the set date.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CreatedBeforeDate" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets a value used to filter correspondence based on the creation date of the correspondence.
            Includes correspondence older than the set date.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CurrentStatus" type="q1:CorrespondenceStatusTypeV2" xmlns:q1="http://schemas.altinn.no/services/serviceEntity/2014/10">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets a value used to filter correspondence based on the current status of the correspondence.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NotificationSent" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets a value used to filter correspondence based on the status of notifications.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Reportee" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets a value used to filter correspondence based on the recipient of the correspondence.
            &lt;/summary>
            &lt;remarks>
            Value must be an organization number or social security number.
            &lt;/remarks></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SendersReference" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets a value used to filter correspondence based on the senders reference value on the correspondence.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ServiceCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets a value used to filter correspondence based on the service code. This field is mandatory.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ServiceEditionCode" type="xs:int">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets a value used to filter correspondence based on the service edition code. This field is mandatory.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CorrespondenceStatusFilterV2" nillable="true" type="tns:CorrespondenceStatusFilterV2"/>
  <xs:complexType name="CorrespondenceStatusResultV2">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary>
            Represents the response from the GetCorrespondenceStatusDetails operation in the CorrespondenceAgency service.
            &lt;/summary></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="LimitReached" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets a value indicating whether the result set is larger than the list can hold.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ServiceCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the service code for the correspondences in the list.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ServiceEditionCode" type="xs:int">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the service edition code for the correspondences in the list.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="StatusList" nillable="true" type="tns:ArrayOfStatusV2">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the list of correspondences and their statuses.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CorrespondenceStatusResultV2" nillable="true" type="tns:CorrespondenceStatusResultV2"/>
  <xs:complexType name="ArrayOfStatusV2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatusV2" nillable="true" type="tns:StatusV2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatusV2" nillable="true" type="tns:ArrayOfStatusV2"/>
  <xs:complexType name="StatusV2">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary>
            Represents details about the status of a Correspondence. 
            &lt;/summary></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CorrespondenceID" type="xs:int">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the unique id of the correspondence
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the created date for the correspondence.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Notifications" nillable="true" type="q2:ArrayOfNotification" xmlns:q2="http://schemas.altinn.no/services/ServiceEngine/Correspondence/2013/11">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets a list of notifications that has been sent to recipients regarding the correspondence.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Reportee" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the reportee of the correspondence.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SendersReference" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the senders reference on the correspondence.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="StatusChanges" nillable="true" type="tns:ArrayOfStatusChangeV2">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets a list of status changes the correspondence has gone through.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusV2" nillable="true" type="tns:StatusV2"/>
  <xs:complexType name="ArrayOfStatusChangeV2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatusChangeV2" nillable="true" type="tns:StatusChangeV2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatusChangeV2" nillable="true" type="tns:ArrayOfStatusChangeV2"/>
  <xs:complexType name="StatusChangeV2">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary>
            Represents a status change on a correspondence element.
            &lt;/summary></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="StatusDate" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the date for when the status was changed to the given value.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="StatusType" type="q3:CorrespondenceStatusTypeV2" xmlns:q3="http://schemas.altinn.no/services/serviceEntity/2014/10">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary>
            Gets or sets the status that were set.
            &lt;/summary></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusChangeV2" nillable="true" type="tns:StatusChangeV2"/>
</xs:schema>