noarkexchange-ephorte/src/wsdl/ephorte.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:tns="http://www.arkivverket.no/Noark/Exchange"
                  xmlns:s0="http://www.arkivverket.no/Noark/Exchange/types"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  targetNamespace="http://www.arkivverket.no/Noark/Exchange"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.arkivverket.no/Noark/Exchange/types">
      <s:element name="GetCanReceiveMessageRequest" type="s0:GetCanReceiveMessageRequestType" />
      <s:complexType name="GetCanReceiveMessageRequestType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="receiver" type="s0:AddressType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AddressType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="orgnr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ref" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCanReceiveMessageResponse" type="s0:GetCanReceiveMessageResponseType" />
      <s:complexType name="GetCanReceiveMessageResponseType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="result" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="PutMessageRequest" type="s0:PutMessageRequestType" />
      <s:complexType name="PutMessageRequestType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="envelope" type="s0:EnvelopeType" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="payload" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EnvelopeType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="sender" type="s0:AddressType" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="receiver" type="s0:AddressType" />
        </s:sequence>
        <s:attribute name="conversationId" type="s:string" />
        <s:attribute name="contentNamespace" type="s:string" />
      </s:complexType>
      <s:element name="PutMessageResponse" type="s0:PutMessageResponseType" />
      <s:complexType name="PutMessageResponseType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="result" type="s0:AppReceiptType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AppReceiptType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="message" type="s0:StatusMessageType" />
        </s:sequence>
        <s:attribute name="type" use="required">
          <s:simpleType>
            <s:restriction base="s:string">
              <s:enumeration value="OK" />
              <s:enumeration value="NOTSUPPORTED" />
              <s:enumeration value="WARNING" />
              <s:enumeration value="ERROR" />
            </s:restriction>
          </s:simpleType>
        </s:attribute>
      </s:complexType>
      <s:complexType name="StatusMessageType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="text" type="s:string" />
        </s:sequence>
        <s:attribute name="code" type="s:string" />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCanReceiveMessageSoapIn">
    <wsdl:part name="getCanReceiveMessageRequest" element="s0:GetCanReceiveMessageRequest" />
  </wsdl:message>
  <wsdl:message name="GetCanReceiveMessageSoapOut">
    <wsdl:part name="GetCanReceiveMessageResult" element="s0:GetCanReceiveMessageResponse" />
  </wsdl:message>
  <wsdl:message name="PutMessageSoapIn">
    <wsdl:part name="putMessageRequest" element="s0:PutMessageRequest" />
  </wsdl:message>
  <wsdl:message name="PutMessageSoapOut">
    <wsdl:part name="PutMessageResult" element="s0:PutMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="noarkExchangeBinding">
    <wsdl:operation name="GetCanReceiveMessage">
      <wsdl:input message="tns:GetCanReceiveMessageSoapIn" />
      <wsdl:output message="tns:GetCanReceiveMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PutMessage">
      <wsdl:input message="tns:PutMessageSoapIn" />
      <wsdl:output message="tns:PutMessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="noarkExchangeBinding" type="tns:noarkExchangeBinding">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCanReceiveMessage">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutMessage">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="noarkExchangeBinding1" type="tns:noarkExchangeBinding">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCanReceiveMessage">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutMessage">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="noarkExchange">
    <wsdl:port name="noarkExchangeBinding" binding="tns:noarkExchangeBinding">
      <soap:address location="http://fmsftestephweb.fylkesmannen.local/ePhorteWeb/shared/WebServices/Services.asmx" />
    </wsdl:port>
    <wsdl:port name="noarkExchangeBinding1" binding="tns:noarkExchangeBinding1">
      <soap12:address location="http://fmsftestephweb.fylkesmannen.local/ePhorteWeb/shared/WebServices/Services.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>