noarkexchange-p360/src/wsdl/EDUImport.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://www.arkivverket.no/Noark/Exchange"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.arkivverket.no/Noark/Exchange"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.arkivverket.no/Noark/Exchange/Imports">
            <xsd:import schemaLocation="EDUImport.xsd"
                        namespace="http://www.arkivverket.no/Noark/Exchange/types"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetCanReceiveMessageRequest">
        <wsdl:part name="GetCanReceiveMessageRequest" element="q1:GetCanReceiveMessageRequest"
                   xmlns:q1="http://www.arkivverket.no/Noark/Exchange/types"/>
    </wsdl:message>
    <wsdl:message name="GetCanReceiveMessageResponse">
        <wsdl:part name="GetCanReceiveMessageResponse" element="q2:GetCanReceiveMessageResponse"
                   xmlns:q2="http://www.arkivverket.no/Noark/Exchange/types"/>
    </wsdl:message>
    <wsdl:message name="PutMessageRequest">
        <wsdl:part name="PutMessageRequest" element="q3:PutMessageRequest"
                   xmlns:q3="http://www.arkivverket.no/Noark/Exchange/types"/>
    </wsdl:message>
    <wsdl:message name="PutMessageResponse">
        <wsdl:part name="PutMessageResponse" element="q4:PutMessageResponse"
                   xmlns:q4="http://www.arkivverket.no/Noark/Exchange/types"/>
    </wsdl:message>
    <wsdl:portType name="IEDUImport">
        <wsdl:operation name="GetCanReceiveMessage">
            <wsdl:input wsaw:Action="http://www.arkivverket.no/Noark/Exchange/IEDUImport/GetCanReceiveMessage"
                        name="GetCanReceiveMessageRequest" message="tns:GetCanReceiveMessageRequest"/>
            <wsdl:output wsaw:Action="http://www.arkivverket.no/Noark/Exchange/IEDUImport/GetCanReceiveMessageResponse"
                         name="GetCanReceiveMessageResponse" message="tns:GetCanReceiveMessageResponse"/>
        </wsdl:operation>
        <wsdl:operation name="PutMessage">
            <wsdl:input wsaw:Action="http://www.arkivverket.no/Noark/Exchange/IEDUImport/PutMessage"
                        name="PutMessageRequest" message="tns:PutMessageRequest"/>
            <wsdl:output wsaw:Action="http://www.arkivverket.no/Noark/Exchange/IEDUImport/PutMessageResponse"
                         name="PutMessageResponse" message="tns:PutMessageResponse"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>