noarkexchange-websak/src/wsdl/Noark.Exchange.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.arkivverket.no/Noark/Exchange"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://www.arkivverket.no/Noark/Exchange"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema targetNamespace="http://www.arkivverket.no/Noark/Exchange">
      <s:import schemaLocation="websak.BEST.xsd" namespace="http://acos.no/websak/BEST" />
      <s:import schemaLocation="Noark.Exchange.types.xsd" namespace="http://www.arkivverket.no/Noark/Exchange/types" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCanReceiveMessageSoapIn">
    <wsdl:part xmlns:q1="http://www.arkivverket.no/Noark/Exchange/types" name="GetCanReceiveMessageRequest" element="q1:GetCanReceiveMessageRequest" />
  </wsdl:message>
  <wsdl:message name="GetCanReceiveMessageSoapOut">
    <wsdl:part xmlns:q2="http://www.arkivverket.no/Noark/Exchange/types" name="GetCanReceiveMessageResult" element="q2:GetCanReceiveMessageResponse" />
  </wsdl:message>
  <wsdl:message name="PutMessageSoapIn">
    <wsdl:part xmlns:q3="http://www.arkivverket.no/Noark/Exchange/types" name="PutMessageRequest" element="q3:PutMessageRequest" />
  </wsdl:message>
  <wsdl:message name="PutMessageSoapOut">
    <wsdl:part xmlns:q4="http://www.arkivverket.no/Noark/Exchange/types" name="PutMessageResult" element="q4:PutMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="noarkExchangeBinding">
    <wsdl:operation name="GetCanReceiveMessage">
      <wsdl:input message="tns:GetCanReceiveMessageSoapIn" />
      <wsdl:output message="tns:GetCanReceiveMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PutMessage">
      <wsdl:input message="tns:PutMessageSoapIn" />
      <wsdl:output message="tns:PutMessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="noarkExchangeBinding" type="tns:noarkExchangeBinding">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCanReceiveMessage">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutMessage">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="noarkExchangeBinding1" type="tns:noarkExchangeBinding">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCanReceiveMessage">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutMessage">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>