noarkexchange-websak/src/wsdl/websak.BEST.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://acos.no/websak/BEST" elementFormDefault="qualified" targetNamespace="http://acos.no/websak/BEST" id="schema1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="input" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="TestResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>