praktiskprove/knutepunkt/src/main/webapp/WEB-INF/wsdl/noarkExchange.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:types="http://www.arkivverket.no/Noark/Exchange/types"
	xmlns:tns="http://www.arkivverket.no/Noark/Exchange"
	targetNamespace="http://www.arkivverket.no/Noark/Exchange">
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://www.arkivverket.no/Noark/Exchange/types" schemaLocation="noarkExchange-types.xsd"> </xs:import>
	    </xs:schema>
    </wsdl:types>
	<wsdl:message name="GetCanReceiveMessageRequestMessage">
		<wsdl:part name="getCanReceiveMessageRequest" element="types:GetCanReceiveMessageRequest"/>
	</wsdl:message>
	<wsdl:message name="GetCanReceiveMessageResponseMessage">
		<wsdl:part name="getCanReceiveMessageResponse" element="types:GetCanReceiveMessageResponse"/>
	</wsdl:message>
	<wsdl:message name="PutMessageRequestMessage">
		<wsdl:part name="putMessageRequest" element="types:PutMessageRequest"/>
	</wsdl:message>
	<wsdl:message name="PutMessageResponseMessage">
		<wsdl:part name="putMessageResponse" element="types:PutMessageResponse"/>
	</wsdl:message>
  	<wsdl:portType name="SOAPport">
		<wsdl:operation name="GetCanReceiveMessage">
			<wsdl:input message="tns:GetCanReceiveMessageRequestMessage"/>
			<wsdl:output message="tns:GetCanReceiveMessageResponseMessage"/>
		</wsdl:operation>
		<wsdl:operation name="PutMessage">
  			<wsdl:input message="tns:PutMessageRequestMessage"/>
  			<wsdl:output message="tns:PutMessageResponseMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="noarkExchangeBinding" type="tns:SOAPport">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    		<wsdl:operation name="GetCanReceiveMessage">
    			<soap:operation soapAction=""/>
      			<wsdl:input>
        			<soap:body use="literal"/>
      			</wsdl:input>
      			<wsdl:output>
      		  		<soap:body use="literal"/>
      			</wsdl:output>
    		</wsdl:operation>
    		<wsdl:operation name="PutMessage">
    			<soap:operation soapAction=""/>
      			<wsdl:input>
        			<soap:body use="literal"/>
      			</wsdl:input>
      			<wsdl:output>
      		  		<soap:body use="literal"/>
      			</wsdl:output>
    		</wsdl:operation>
  	</wsdl:binding>
	<wsdl:service name="noarkExchange">
		<wsdl:port name="NoarkExchangePort" binding="tns:noarkExchangeBinding">
			<soap:address location="http://hardcodeme.not/noarkExchange"/>
        </wsdl:port>
	</wsdl:service>
</wsdl:definitions>