virksert-forked/virksert-common/src/main/xsd/virksert-model-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://difi.no/xsd/virksert/model/1.0"
        xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">

    <element name="certificate">
        <complexType>
            <sequence>
                <element name="identifier" type="string" />
                <element name="serialnumber" type="string" />
                <element name="expiration" type="long" />
                <element name="updated" type="long" />
            </sequence>
        </complexType>
    </element>

</schema>